autoflake
datasets
faiss-cpu
gensim
gradio
huggingface-hub==0.25.0
hydra-core
InstructorEmbedding==1.0.1
ipykernel
langchain
langchain-cohere
langchain-community
langchain-experimental
langchain-google-genai
langchain-openai
langfuse
omegaconf
matplotlib
nltk
numpy
pandas
psutil
pyarrow
pydantic==2.10.6
pyLDAvis
pylint
python-json-logger
ragas
rich
scikit-learn
sentence-transformers==2.2.2
tika
tqdm
wordcloud
torch==2.4.1
torchvision==0.19.1